 Custom CSS */
@media(max-width:767px){
}

@media(min-width:992px){
}
@media(min-width:1200px){}


* {
	margin: 0;
	padding: 0;
}

a {
	color: #FFFFFF;
	text-decoration: none !important;
	background-color: transparent;
}

ul {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	color: #252525;
	margin-top: 0;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}
/* Header */
.topBar {
	width: 100%;
	display: block;
	/*min-height: 35px;*/
	height: auto;
	background-color: #252525;
}

.topBar ul li a {
	color: #FFFFFF;
	line-height: 35px;
	    padding: 0 3px;
}

.topBar ul li a:hover, .topBar ul li a:focus {
	opacity: 0.8;
}

.menuTop {
	padding: 10px 0;
}

@media(min-width: 992px) {
	.menuTop {
		padding: 30px 0;
	}
}

.menuTop-left {
	display: inline-block;
    float: left;
}
.menuTop-left a {
	padding: 5px 0 0;
}

.menuTop-left img {
    width: 167px;
    height: 31px;
}

.menuTop-mid {
	width: 40%;
	display: inline-block;
}
@media(min-width: 992px) {
	.menuTop-mid {
	    width: 50%;
	}
}
@media(min-width: 768) {
	.menuTop-mid {
	    width: 35%;
	}
}

.menuTop-right {
    display: inline-block;
    float: right;
}

.searchBox {
	width: 100%;
	display: table;
}

.searchBox .input-group {
	width: 100%;
	position: relative;
}

.searchBox .input-group .form-control {
	height: 45px !important;
	border-radius: 0 !important;

	position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.searchBox .input-group button {
	width: 60px;
    font-size: 20px;

    border-radius: 0;
    background-color: #47bac1;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #47bac1;
    width: 74px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    height: 34px;   
}
@media(min-width: 992px) {
	.searchBox .input-group button {
	    height: 45px;
	}
}

.menuBar {
	height: 50px;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.nav-category {
	width: 50%;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	float: left;
	padding: 0 15px;
	background-color: #47bac1;
}

@media(min-width:768px){
	.nav-category {
		width: 270px;
	}
}

.nav-category>a, .nav-category>i {
	text-decoration: none;
	color: #FFFFFF;
}

.nav-category>a:hover, .nav-category>a:focus {
	text-decoration: none;
	color: #FFFFFF;
}

.nav-hamburger {
	cursor: pointer;
}

.nav-menu {
	float: none;
}

.nav-menu .menu-options li a {
	font-size: 14px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-menu .menu-options li a:hover, .nav-menu .menu-options li.active a {
    color: #47bac1;
}

/* ------------------------------------------------ */
.menu-options {
	display: none;
	list-style: none;
}

.menu-options>li {
}

.dropdown:hover .submenu-left {
	display: block;
}

.submenu-left {
	display: none;
	list-style: none;
	padding: 15px 10px 10px 10px;
	position: absolute;
	z-index: 1;
	margin-left: -10px;

	float: left;
	border: 1px solid #ececec;
    min-width: 200px;
    border-radius: 0;
	box-shadow: none;
}

.submenu-left li a{
    padding: 10px 12px 10px 30px;
    font-size: 14px;
}    
.nav-menu .menu-options {
	display: inline-block;
	list-style: none;
	padding-left: 20px;
	margin-bottom: 0px;
	line-height: 48px;
}

.nav-menu .menu-options>li {
	position: relative;
	display: block;
	float: left;
	padding: 0 10px;
}

.nav-menu .dropdown:hover .submenu-left {
	display: block;
}

.nav-menu .submenu-left {
	display: none;
	list-style: none;
	padding: 15px 10px 10px 10px;
	position: absolute;
	z-index: 1;
	margin-left: -10px;
}

.nav-menu .submenu-left>li {
	padding: 5px;
}
/* Header */

/* Main */
.main {
	display: block;
	/*height: 400px;*/
}
.asd {
		position: absolute;
	top: 0px;
	width: calc(980px);
	height: 100%;
	pointer-events: auto;
	bottom: 0px;
	left: calc(0px);
	right: calc(980px);
	overflow: hidden;
	clip: rect(0px 980px 600px 0px);
}
.home-banner {
	background-image: url("../assets/images/home_bg.jpg");
	background-size: cover;
	height: 600px;
	width: 100%;
}

.left-overlap {
	width: 370px;
	height: 600px;
	background-color: rgba(255,255,255,0.5);
	/*background: transparent;*/
	position: absolute;
}

.left-overlap span {
	font-size: 36px;
	position: absolute;
	top: 163px;
	left: 63px;
	line-height: 1.2em;
}

.left-overlap a {
	position: absolute;
	top: 437px;
	left: 63px;
	height: 47px;
	width: 165px;
	background-color: rgba(137, 156, 64, 1);
	border-color: rgba(137, 156, 64, 1);
}

.product-main {
	padding: 90px 0 60px 0;
}

.productBox {
    height: auto;
    display: block;
    margin-bottom: 40px;
}

.productWrapper {
	overflow: hidden;
	position: relative;
	display: block;
	margin-bottom: 20px;

}

.productWrapper:hover .productCover {
	opacity: 0.9;
	display: block;
	z-index: 999;

}

.productWrapper:hover img {
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.productCover {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(71,186,193,0.9);
}

.productCover ul {
	-webkit-animation: itemMove 0.3s linear;
	animation: itemMove 0.3s linear;
	position: absolute;
	top: 50%;
	left: 58%;
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 157px;
	height: 42px;
}

.productCover ul li a {
	width: 42px;
	height: 42px;
	padding: 0;
	text-align: center;
	border: 3px solid rgba(255,255,255,0.6);
	border-radius: 0px;
	background-color: transparent;
	line-height: 36px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.prof {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	width: 100%;
}

.productCaption h3 {
	color: #c5c5c5;
	font-weight: 700;
	margin-bottom: 0;
}

/* Main */

/* Footer */
.footer {
	display: block;
	background-color: #252525;
	border-top: 8px solid #47bac1;
	padding: 38px 0;
}

.footer h5, .footer h4, .footer h3 {
	letter-spacing: 1px;
	color: #5f5f5f;
	text-transform: uppercase;
	margin-bottom: 13px;
}

.footer ul li ,.footer ul li a {
	color: #acacac;
	font-size: 12px;
	line-height: 20px;
}

.footer .newsletter {
	text-align: center;
}

.footer .newsletter p {
	color: #acacac;
}

.footer .newsletter .form-control {
	display: inline-block;
	float: left;
	/*margin-right: 2%;*/
	border-radius: 0;
	border: none;
	background-color: #3b3b3b;
	height: 35px;
	line-height: 35px;
	padding: 0 14px;
	font-size: 12px;
	color: #999999;
	width: 65%;
}

.footer .newsletter #basic-addon2 {
	margin-right: 0;
	height: 35px;
	width: 30%;
	padding: 0;
	line-height: 29px;
	border: 3px solid #47bac1;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.copyright {
	display: block;
	width: 100%;
	min-height: 53px;
	background-color: #101010;
}

.copyright p {
	color: #acacac;
	margin-bottom: 0;
	font-size: 13px;
	padding-top: 17px;
}

.copyright ul li a {
	color: #4b4b4b;
}
/* Footer 